body {
  background:#050505;
  color:#00ffcc;
  font-family: monospace;
  text-align: center;
  padding: 50px;
}

button {
  background:#0b0b0b;
  color:#00ffcc;
  border:1px solid #00ffcc55;
  padding:8px;
  margin:5px;
}

.station {
  margin: 20px 0;
}
